<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pacientes"></ion-back-button>
      <ion-title>Perfil</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Datos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input placeholder="Francisco Alan Espinoza Zallas"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input placeholder="alanez@outlook.com"></ion-input>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button color="success" expand="full">Guardar</ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button color="danger" expand="full">Cerrar sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
